* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#div1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
#div1::before,
#div1::after {
  content: "";
  display: block;
}
